{% extends 'navbar/navbar.html' %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'tiles/base_tile_details.css' %}"/>
{% endblock head_links %}

{% block head_scripts %}
    {{ block.super }}
    <script src="{% static 'home/home.js' %}"> </script>
{% endblock head_scripts %}

{% block content %}

    <div class="content-container">
        {{ tiles|safe }}
    </div>

{% endblock content %}

<!-- 1. make tiles responsively shrinkable in height -->
