{% extends "navbar/navbar.html" %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'tiles/base_tile_details.css' %}"/>
{% endblock head_links %}

{% block head_scripts %}
    {{ block.super }}
    <script src="{% static 'home/home.js' %}"> </script>
    <script src="{% static 'map/map.js' %}"></script>
{% endblock head_scripts %}

{% block content %}

    <div class="content-container">
        {% comment %} <div class="relative-sidebar">
            <div class="left-sidebar">
                 {{ sidebar }} 
            </div>
        </div>
        <div class="grid-container">
             {{ template_tile }} 
        </div> {% endcomment %}

        <h1 class="select-subject-label"> Select Subject </h1>
        <div class="column-view"> 
            <div class="column-view-0 base-column">
                <li class="list-group-item">Medicine</li>
            </div>
        </div>
        
  
</div>

    <footer style="position: sticky; bottom: 0; width: 100%; background-color: #ffc107; text-align: center; padding: 10px; z-index: 1000;">
        Note: This website is in its pilot phase.
        For any issues or inquiries, please contact us at <a href="mailto:bitedinfo@gmail.com">bitedinfo@gmail.com</a>.
    </footer>

{% endblock content %}

<!-- 1. make tiles responsively shrinkable in height -->
