[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
factory-boy = "*"
django-environ = "*"
django-verify-email = "*"
pyyaml = "*"
djlint = "*"
django-crispy-forms = "*"
django-taggit = "*"
crispy-bootstrap5 = "*"
social-auth-app-django = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
