{% extends "navbar/navbar.html" %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'registration/login.css' %}"/>
{% endblock head_links %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn 't match. </p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. 
                To proceed, please login with an ccount that has access.</p>
            {% else %}
        <p>Please login to see this site.</p>
        {% endif %}
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} 
    {% load crispy_forms_tags %}
    <form action="{% url 'login' %}" class="login-form" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex--inputs">
            <input type="submit" class="button-7" value="Login"/>
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            
            <input type="button" class="button-7"
            value='Sign up' onclick="window.location.href='{% url 'signup' %}'"%/> 
            
            <a class="flex--item s-link fs-caption" href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
        <br/>
        <h6>
        <button > 
            {% comment "class="btn btn-primary mb-2"" %}{% endcomment %}
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </button>
    </h6>
    </form>
{% endblock content %}
