{% extends 'bitedMainProject/base.html' %}
    
{% block content %}

    {% if form.errors %}
        <p>Your username and password didn 't match. </p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. 
                To proceed, please login with an ccount that has access.</p>
            {% else %}
        <p>Please login to see this site.</p>
        {% endif %}
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} 

    <form action="{% url 'login' %}" method="post">
        {% csrf_token%}
        {{ form.as_p }}
        <input type="submit" class='btn btn-primary' value='Login'>
        <input type="hidden" name='next' value="{{ request.GET.next }}">
        
        <input type='button' class='btn btn-primary btn-signup'
        value='Sign up' onclick="window.location.href='{% url 'signup' %}'"%> 
        
        <input type='button' class='btn btn-primary btn-password-reset'
        value='Forgot password?' onclick="window.location.href='{% url 'password_reset' %}'"%> 
    
{% endblock content %}
