{% extends "navbar/navbar.html" %}
{% load static %}

{% block head_scripts %}
  {{ block.super }}
  <script src="{% static 'map/map.js' %}"></script>
{% endblock head_scripts %}

{% block content %}
<div class="accordion" id="folderMapMainContainer">

    <div class="accordion-item">

      <button class="accordion-button" id="folder-0" type="button" data-bs-toggle="collapse" data-bs-target="#RootZero" aria-expanded="true" aria-controls="RootZero">
        Root
        &nbsp;
        <a href="{% url 'folders:folder_detail_view' 0 %}"><img height="20" width="20" src="{% static 'map/icon/green-play-button-icon.svg' %}" alt=""/></a>
      </button>

      <div id="RootZero" class="accordion-collapse collapse" data-bs-parent="#folderMapMainContainer">
        <div class="accordion-body">
        </div>
      </div>

    </div>

</div>
   
{% endblock content %}
