
<figure class='tile' style=''>
    
    {% comment %} image {% endcomment %}

    {% if object.img_url %}
        <div class='img-container'>                       
            <div class="img_flex_box">
                <img src="{{ object.img_url }}" alt="">
            </div>
    {% else %}
        <div class='bubble_container' style='position: relative;'>   
    {% endif %}
            {% if object.type_of_tile_char %}
                <div class='tile_type' >
                    {{ object.type_of_tile_char }}
                </div>
            {% endif %}

            {% if object.total_questions %}
                <div class="tile_total_questions" >
                    Total {{ object.total_questions }}
                </div>
            {% endif %}
        </div>

    {% comment %} title {% endcomment %}

    {% if object.tile_headline %}
        <div class='tile_title'> 
            {{ object.tile_headline }}
        </div>
    {% endif %}
    
    {% if object.author %}
        <div class='tile_author'> 
            {{ object.author }}
        </div>
    {% endif %}

    <div class="writes_and_crtdate">
        {% if object.total_writes %}
            <div class="tile_total_writes" style='display: inline;'>
                {{ object.total_writes }} writes
            </div> 
        {% endif %}

        <span style='margin: 0 4px; display: inline'>•</span>

        {% if object.created_at %}
            <div class="tile_creation_date" style='display: inline;'>
                {{ object.created_at|timesince }} ago
            </div>
        {% endif %}
    </div>

    {% if object.expected_reward %}
        <div class="tile_expected_reward">
            {{ object.expected_reward }} K
        </div>
    {% endif %}
    
    
    {% if object.total_pass %}
        <div class="tile_pass_percentge">
            Pass Rate: {{ object.total_pass }}
        </div>
    {% endif %}
    
    {% if object.children %}
        <div class='tiles_children'>
            SubTiles: 
            {% for child_tile in object.children.all %}
                {{ child_tile }}
            {% endfor %}
        </div>
    {% endif %}
</figure>
