{% extends "navbar/navbar.html" %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tiles/base_tile_details.css' %}"/>
    <link rel="stylesheet" href="{% static 'tiles/tile_view.css' %}"/>
{% endblock head_links %}

{% block body_scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script src="{% static 'tiles/tile_view.js' %}"></script>
{% endblock body_scripts %}

{% block content %}
    <div class="grid-content">
    {% include "tiles/base_tile_details.html" %}

    <form action="" method="post">
        <section class="limiter">
            <div class="block-settings">
                    {% csrf_token %}
                    {{ form.as_p }}
                    If there are grouped questions in a tile, the total number of questions may be higher. <br>
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                <input type="hidden" name="text" value=" {{ next }} "/>

            </div>
        </section>

        <section class="limited">
            <fieldset class="subtiles" id="fieldset--override">
                <legend id="legend--override" >Select SubTiles:
                    &nbsp;
                    <input type="checkbox" id="select-all" />
                    <label for="select-all">Select All</label>
                </legend>
                    {% if inline_formset|length %}
                        {{ inline_formset.management_form }}
                        {% for tile in inline_formset %}
                            <div class="choice-form">
                                <br/>
                                {{ tile.as_table }}
                            </div>
                            {% endfor %}
                    {% else %}
                        No SubTiles.
                        {{ inline_formset.management_form }}
                    {% endif %}
                </fieldset>
        </section>

        <section class="limited">
            <fieldset class="personal-field" id="fieldset--override">
                        {{ personal_form.management_form }}
                        <legend id="legend--override" >
                            {{ personal_form.personal_filter.label_tag }}
                        </legend>
                            <div class="personal-form">
                                {% if personal_form_iterator %}
                                    {% for filter_mode, mode_numbers in personal_form_iterator %}
                                    <p>  
                                        {{ filter_mode }}
                                        <span class="badge text-bg-primary rounded-pill"> {{ mode_numbers }} </span>
                                    </p>
                                    {% endfor %}

                                {% else %}
                                    {% for filter_mode in personal_form.personal_filter %}
                                    <p>  
                                        {{ filter_mode }}                                
                                    </p>
                                    {% endfor %}
                                {% endif %}
    

                            </div>

                </fieldset>
        </section>
    </form>
    </div>

    {% comment %} <div class="personal-filter">{{ personal_formset }}</div> {% endcomment %}
{% endblock content %}
