{% extends 'navbar/navbar.html' %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home_page_tiles/base_home_page_tile.css'%}">
    <link rel="stylesheet" href="{% static 'tiles/tile_view.css'%}">
{% endblock head_links %}

{% block content %}
    {% include 'home_page_tiles/base_home_page_tile.html' %}

    <div class='block-settings'>
        <form action='' method="post">
            {% csrf_token%}
            {{ form.as_p }}
        <input type="submit" class='btn btn-primary' value='Submit'>
        <input type="hidden" name='text' value=" {{ next }}">
    </div>
{% endblock content %}
