

/* https://stackoverflow.com/questions/28411499/disable-scrolling-on-body */
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* html get its height from viewport so html:height: 100%  makes html */
/* body inherits from html so body:height 100% makes it size of html if html has size */
/* /https://youtu.be/dpuKVjX6BJ8 */
/* :root is on top of all */
/* by default height is auto which is size of content */
/* http://phrogz.net/css/htmlvsbody.html */
/* if scrollbar is from html folder why it disappears when I set 
body::-webkit-scrollbar {display: none; } ?

body is bigger that default html so html displays scrollbar
Rule: when element is on overflow auto and it's sizes are fixed
when its content gets bigger that element itself, it displays scrollbar.
html has overflow auto by default and its sizes are fixed by window see link above
so it display's scroll bar when body gets bigger.

heigh: percent -> percent of parent height
*/
/* html {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html,body {
    margin: 0;
    padding: 0;
}

/* body::-webkit-scrollbar {
    display: none;
  } */


  
.content-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      /* height: 100%; */
      overflow: auto;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 }

 .column-view {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    gap: 10px;
 }
 
 .base-column { box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                 rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
                 rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                 padding: 10px;
                 padding-right: 2px;
 }

 .select-subject-label{
    margin:10px;
 }

.grid-container {
    --grid-layout-gap: 15px;
    --grid-column-count: 4;
    --grid-item--min-width: 250px;
  
    /* *
     * Calculated values.
     */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    padding:0 8vw;
    height: 100%;
    flex: 1;

}

.relative-sidebar{
    position: fixed;
    flex-shrink: 0;
    z-index: 10;
}

.list-group-item{
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.folder-name{
    flex: 1;
}

.left-sidebar {
    position: absolute;
    min-width: max-content;
    max-height: 90vh;
    overflow: auto;
    top: 5px;
    left: 5px;

}

.accordion-button {
    padding: revert;
}
