

/* https://stackoverflow.com/questions/28411499/disable-scrolling-on-body */
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* html get its height from viewport so html:height: 100%  makes html */
/* body inherits from html so body:height 100% makes it size of html if html has size */
/* /https://youtu.be/dpuKVjX6BJ8 */
/* :root is on top of all */
/* by default height is auto which is size of content */
/* http://phrogz.net/css/htmlvsbody.html */
/* if scrollbar is from html tile why it disappears when I set 
body::-webkit-scrollbar {display: none; } ?

body is bigger that default html so html displays scrollbar
Rule: when element is on overflow auto and it's sizes are fixed
when its content gets bigger that element itself, it displays scrollbar.
html has overflow auto by default and its sizes are fixed by window see link above
so it display's scroll bar when body gets bigger.

heigh: percent -> percent of parent height
*/
/* html {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html,body {
    margin: 0;
    padding: 0;
}

/* body::-webkit-scrollbar {
    display: none;
  } */


header {
    position: sticky;
    top: 0px;
    z-index: 3;
}


.content-container {
    --grid-layout-gap: 15px;
    --grid-column-count: 4;
    --grid-item--min-width: 250px;
  
    /* *
     * Calculated values.
     */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    padding:0 8vw;
    height: 100%;

}
