#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
  background-color: #001d351f;
}

.svg-style{
  display: block;

}
.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.gsi-material-button-icon {
  display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
      padding: 5px;
}

.content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
