{% extends "navbar/base_bootstrap.html" %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}"/>
{% endblock head_links %}
    
{% comment %} {% block head_scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="{% static 'navbar/navbar.js' %}"> </script>
{% endblock head_scripts %} {% endcomment %}

{% block navbar %}
    <header>
        {% block homenavbar %}
        
        {% endblock homenavbar %}
    </header>
    {{ block.super }}
{% endblock navbar %}
