{% extends "navbar/navbar_base.html" %}
{% load static %}

{% block homenavbar %}

<nav class="navigation-bar">

    <div class="nav-bar logo">
        <!-- <img src="src\trademarks\logo_name_Linux.png" alt="Bited"> -->
        <a class="navbar-link" style="text-decoration:none;" href="{% url 'home' %}">BITED</a>
    </div>

    {% block navbar_content %}
    
        <div class="nav-bar search-box navbar-content">
            <input type="text" class="nav-bar tbox" placeholder="Search"/>
            <span> &nbsp; </span>
            <button class="nav-bar-srch-btn"> Search</button>
        </div>

    {% endblock navbar_content %}

    <svg aria-hidden="true" class="svg-icon iconInbox" width="20" height="18" viewBox="0 0 20 18">
        <path d="M4.63 1h10.56a2 2 0 0 1 1.94 1.35L20 10.79V15a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-4.21l2.78-8.44c.25-.8 1-1.36 1.85-1.35Zm8.28 12 2-2h2.95l-2.44-7.32a1 1 0 0 0-.95-.68H5.35a1 1 0 0 0-.95.68L1.96 11h2.95l2 2h6Z"/></svg>

    {% comment %} <div>
        <a href="{% url 'map' %}">Map</a>   
    </div> {% endcomment %}

    <a href="{% url 'createQuestion' %}" target="_blank" rel="noopener noreferrer">Create</a>
    
    {% comment %} <button onclick="window.location.href={% url 'createQuestion' %};">
        Create</button> {% endcomment %}

    {% comment %} <div class="nav-bar balance">
        {% if balance %} 
            {{ balance }}K
        {% else %}
            0.0 K
        {% endif %}
    </div> {% endcomment %}

    <div class="profile-corner">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user_update' user.pk %}" class="dropdown-item"> Profile</a></li>

                <li>
                    <div class="form-check form-switch dropdown-item">
                        <label class="form-check-label" for="DarkModeSwitchCheckDefault">Dark Mode </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="DarkModeSwitchCheckDefault">
                      </div>
                </li>
                <li><a href="{% url 'logout' %}" class="dropdown-item"> Log out</a></li>
            </ul>

        </div>
            {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
    </div>

</nav>
{% endblock homenavbar %}

{% block body_scripts %}
    {{ block.super }}
    <script src="{% static 'navbar/navbar.js' %}"> </script>
{% endblock body_scripts %}
