html,body {
    margin: 0;
    padding: 0;
}

.block-settings,  .personal-filter{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
form {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
  }
  
.subtiles {
    flex-basis: 0px;
    flex-grow: 1;
    overflow-y: auto;
  }

#fieldset--override {
    /* border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial; */
    border: revert;
    min-width: revert;
    padding: revert;
    margin: revert;

}

#legend--override {
    float: revert;
    width: revert;
    padding: revert;
    margin-bottom: revert;
    font-size: revert;
    line-height: revert;
}
