
html, body {
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#form-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#id_container_tiles {
    flex: 1;
}
