/* https://medium.com/coding-blocks/css-padding-a-magic-wand-2b8a66b84ebe */
.folder {
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    background: url("/static/folder/dot-grid.webp");
    padding: 10px;
    padding-top: 25px;
    max-width: 350px;

}

.folder:hover {
    border-style: dotted;
}

.img-container {
    height: 22vh; 
    max-height: 200px;
    position: relative; 
    background-color: black;
}

.folder_author {
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: .875rem
}

.img_flex_box {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* img{
    width: 100%; 
    height: auto; 
    max-height: 100%;
    object-fit: cover;
    border-radius: 1px;
    position: absolute;
} */

.folder_type{
    position: absolute;
    bottom: 17px;
    left: 2px;
    background-color: white;
    border-radius: 1px;
    padding: 1px;
    font-family: monospace;
    max-height: 1.2rem;
}

.folder_total_questions {
    position: absolute;
    bottom: 5px;
    right: 2px;
    background-color: white;
    border-radius: 1px;
    padding: 1px;
    font-family: monospace;
    /* max-height: 1.2rem; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.bubble_container {
    position: relative;
    /* height: 1.2rem; */
}

.folder_title {
    font-family: Georgia;
    font-size: 1rem;
    line-height: 1.375rem ;
}

.writes_and_crtdate {
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: .875rem;
}

.folder_total_writes{
    display: inline;
}

.space-holder-dot {
    margin: 0 4px;
    display: inline;
}

.folder_creation_date {
    display: inline;
}
